.root {
    -fx-background-color: white;
}
#wordButton {
    -fx-font-weight: normal;
    -fx-background-color: white;
    -fx-padding: 0 1;
}
#wordButton:hover {
    -fx-background-color: deepskyblue;
}
#wordsPane {
    -fx-min-width: 500px;
}
#mainHBox{
    -fx-min-width: 500;
}
#popupButton {
    -fx-background-color: darkgray;
}

#NotWordButton {
    -fx-font-weight: normal;
    -fx-background-color: white;
    -fx-padding: 0 0 0 0;
}
